apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: yatagarasu
  labels:
    app.kubernetes.io/name: yatagarasu
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: yatagarasu
