{{- $needsSecret := false -}}
{{- range $index, $bucket := .Values.buckets -}}
  {{- if and (not $bucket.s3.existingSecret) (or $bucket.s3.accessKey $bucket.s3.secretKey) -}}
    {{- $needsSecret = true -}}
  {{- end -}}
  {{- if and $bucket.auth.enabled $bucket.auth.jwt -}}
    {{- if and (not $bucket.auth.jwt.existingSecret) $bucket.auth.jwt.secret -}}
      {{- $needsSecret = true -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if $needsSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "yatagarasu.secretName" . }}
  labels:
    {{- include "yatagarasu.labels" . | nindent 4 }}
type: Opaque
data:
  {{- range $index, $bucket := .Values.buckets }}
  {{- if and (not $bucket.s3.existingSecret) $bucket.s3.accessKey }}
  AWS_ACCESS_KEY_{{ $index }}: {{ $bucket.s3.accessKey | b64enc | quote }}
  {{- end }}
  {{- if and (not $bucket.s3.existingSecret) $bucket.s3.secretKey }}
  AWS_SECRET_KEY_{{ $index }}: {{ $bucket.s3.secretKey | b64enc | quote }}
  {{- end }}
  {{- if and $bucket.auth.enabled $bucket.auth.jwt }}
  {{- if and (not $bucket.auth.jwt.existingSecret) $bucket.auth.jwt.secret }}
  JWT_SECRET_{{ $index }}: {{ $bucket.auth.jwt.secret | b64enc | quote }}
  {{- end }}
  {{- end }}
  {{- end }}
{{- end }}
