apiVersion: apps/v1
kind: Deployment
metadata:
  name: yatagarasu
spec:
  replicas: 3
  template:
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app.kubernetes.io/name: yatagarasu
                topologyKey: kubernetes.io/hostname
      containers:
        - name: yatagarasu
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 512Mi
